@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>SİL</h1>


<div class="container">

    <form asp-action="Delete" asp-controller="Product" method="post">

        <label for="name" class="form-label">Ürün Id:</label>
        <input type="text" class="form-control"/>
        </br>
        </br>

        <button>ÜRÜNÜ SİL</button>


    </form>


</div>